body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #333;
    background-color: #eee;
}


paper-material {
    background-color: #fff;
    border-radius: 3px;
}



/** Layouts **/

.l-wrap {
    width: 90vw;
    max-width: 1024px;
    padding: 0 2rem;
    margin: auto;
}


.l-content {
    display: flex;
}


.l-sidebar {
    flex-shrink: 0;
    width: 35%;
    padding-bottom: 5rem;
    margin-right: 2rem;
}


.l-main {
    flex-grow: 1;
    padding-bottom: 5rem;
}


@media all and (max-width: 768px) {

    .l-content {
        flex-direction: column;
    }


    .l-sidebar {
        width: auto;
        padding-bottom: 2rem;
        margin-right: 0;
    }


    .l-sidebar--last {
        order: 1;
        padding-bottom: 5rem;
    }


    .l-sidebar--last ~ .l-main {
        padding-bottom: 2rem;
    }

}


@media all and (max-width: 425px) {

    .l-wrap {
        width: auto;
        padding: 0;
    }

}



/** Site Header **/

.site-header {
    display: flex;
    align-items: center;
    padding: 5rem 0;
}


.site-homelink {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.site-title {
    margin-left: 2rem;
    color: #000;
    opacity: 0.75;
}


.site-title .title,
.site-title .title--sub {
    margin: 0;
    font-weight: 400;
}


.site-title .title {
    font-size: 2.4rem;
}


.site-title .title--sub {
    font-size: 1.6rem;
}


.page-title {
    margin-left: auto;
    font-size: 2.4rem;
    font-weight: 400;
    opacity: 0.75;
}


@media all and (max-width: 768px) {

    .site-header {
        flex-direction: column;
        align-items: center;
    }


    .page-title {
        margin-left: initial;
    }

}


@media all and (max-width: 425px) {

    .site-homelink {
        flex-direction: column;
        text-align: center;
    }


    .site-logo {
        margin-bottom: 1rem;
    }

}



/** Widgets **/

.widget {
    border-radius: 3px;
}

.widget:not(:first-child) {
    margin-top: 2rem;
}

.widget:not(:last-child) {
    margin-bottom: 2rem;
}



/** Upcoming Events Widget **/

.event-item:nth-child(odd) {
    background-color: #eaeaea;
}


.event-item .event-info {
    margin-right: auto;
}


.event-item .event-name {
    margin: 0;
    font-size: 1.4rem;
}


.event-item .event-schedule {
    font-size: 1.2rem;
    line-height: 1.4;
    opacity: 0.75;
}


.event-item .team-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.event-item .team-icon:not(:last-of-type) {
    margin-right: 0.5rem;
}



/** Article Widgets **/

.article-widget {
    display: block;
    color: #333;
    border-radius: 3px;
}


.article-widget .article-content {
    padding: 2rem;
}


.article-content .article-title {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 400;
    opacity: 0.75;
}


.article-content p {
    opacity: 0.75;
}

.article-content p:last-child {
    margin-bottom: 0;
}



/** Team Icons **/

.team-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to bottom, #ddd, #ccc);
    border-radius: 50%;
}

.team-icon--scions {
    background-image: linear-gradient(to bottom, rgba(242, 201, 76, 0.45), rgba(242, 201, 76, 1));
}

.team-icon--tycoons {
    background-image: linear-gradient(to bottom, rgba(45, 156, 219, 0.45), rgba(45, 156, 219, 1));
}

.team-icon--bullets {
    background-image: linear-gradient(to bottom, rgba(33, 150, 83, 0.45), rgba(33, 150, 83, 1));
}

.team-icon--stallions {
    background-image: linear-gradient(to bottom, rgba(242, 153, 74, 0.45), rgba(242, 153, 74, 1));
}
