body {
    font-family: "Roboto", sans-serif;
    color: #333;
    background-color: #eee;
}



/** Layouts **/

.l-wrap {
    width: 90vw;
    max-width: 1024px;
    padding: 0 2rem;
    margin: auto;
}


.l-content {
    display: flex;
}


.l-sidebar {
    width: 35rem;
    margin-right: 2rem;
}


.l-main {
    flex-grow: 1;
}



/** Site Header **/

.site-header {
    display: flex;
    align-items: center;
    padding: 5rem 0;
}


.site-title {
    margin-left: 2rem;
    opacity: 0.75;
}


.site-title .title,
.site-title .title--sub {
    margin: 0;
    font-weight: 400;
}


.site-title .title {
    font-size: 2.4rem;
}


.site-title .title--sub {
    font-size: 1.6rem;
}



/** Widgets **/

.widget-header {
    padding: 2rem;
}


.widget-title {
    margin: 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity: 0.75;
}


.widget-footer {
    padding: 1rem 2rem;
    text-align: center;
}


.widget-action {
    font-size: 1.4rem;
}



/** Team Standing Widget **/

.teams-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.team-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
}

.team-item--scions {
    background-color: rgba(242, 201, 76, 0.25);
}

.team-item--tycoons {
    background-color: rgba(45, 156, 219, 0.25);
}

.team-item--bullets {
    background-color: rgba(33, 150, 83, 0.25);
}

.team-item--stallions {
    background-color: rgba(242, 153, 74, 0.25);
}


.team-item .team-icon {
    margin-right: 1rem;
}


.team-item .team-name {
    margin: 0;
}


.team-item .team-score {
    flex-shrink: 0;
    margin: auto;
    margin-right: 0;
    font-weight: 700;
}


.team-item .team-score::after {
    content: "pts";
    margin-left: 3px;
    font-weight: 400;
    opacity: 0.5;
}



/** Team Icons **/

.team-icon {
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to bottom, #ddd, #ccc);
    border-radius: 50%;
}

.team-icon--scions {
    background-image: linear-gradient(to bottom, rgba(242, 201, 76, 0.45), rgba(242, 201, 76, 1));
}

.team-icon--tycoons {
    background-image: linear-gradient(to bottom, rgba(45, 156, 219, 0.45), rgba(45, 156, 219, 1));
}

.team-icon--bullets {
    background-image: linear-gradient(to bottom, rgba(33, 150, 83, 0.45), rgba(33, 150, 83, 1));
}

.team-icon--stallions {
    background-image: linear-gradient(to bottom, rgba(242, 153, 74, 0.45), rgba(242, 153, 74, 1));
}
